header, footer {
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;   
}
nav ul {
    text-align: center;
    float: right;
    margin: 0;

}
nav li {
    display: inline-flex;
    border: 1px solid;
    font-weight: bold;
    margin: 0;
}
.separator {
    justify-content: space-between;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav img {
	display: inline-flex;
	justify-content: flex-start;
	text-align: left;
}
.container {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    text-align: right;
}
.container>div {
    padding: 10px;
    text-align: center;
    font-size: 14sp;
    color: black;
    border: 2px solid;
    background-color: white;

}

main {
    flex-direction: row; 
    display: flex;
}
main div {
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    display: flex; 
    flex: 1; 
    flex-direction: column; 
    align-content: center; 
    justify-content: center;
    background-color: #edf0f4;
}
nav div {
    border: 5px solid;
    display: flex; 
    flex: 1; 
    align-content: center; 
    justify-content: center;
}
form {
    margin: 0;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column; 
}
input {
    width:  70%;
    padding: 20px 10px; 
    line-height: 20px;
    border-radius: 10px;
}
.send-button a {
    color: white;
    text-decoration: none;   
}
.send-button {
    text-align: center;
    display: flex;
    background-color: black;
    border-radius: 5px;
    color: white;
    margin-top: 0;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 100px;  
}
label {
    font-weight: bold;
}
form input {    
    display: grid;
    grid-template-rows: 80px 200px;
}
.feature-box {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
}
.feature-list>ol {
    display: flex;
    flex-direction: column;
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal;
    padding: 0;
    margin-bottom: 4em;
}
.feature-list li {
    counter-increment: li;
    margin-bottom: 5px;
}
.feature-list li::before {
    margin-right: 10px;
    content: counter(li);
    background: #edf0f4;
    border-radius: 100%;
    color: black;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}
.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #edf0f4;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
    }

.package-title {
    background: #edf0f4;
    text-align: center;
}
.package-list {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}
.package {
    display: flex;
    flex-direction: row;
}